[Unit]
Description=Article Recommender Batch
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/euclase/Code/fillnel
ExecStart=/usr/bin/docker compose up
ExecStartPost=/usr/bin/docker compose stop
